/*
    input where user searches for city
*/
.input-box {
    width: 100%;
    background-color: #cfd8dc;
    border: 0px;
    text-align: center;
    font-weight: 600;
}

/*
    input where user presses submit
*/
.input-button {
    width: 25%;
    background-color: #311B92;
    border: 0px;
    border-radius: 0px 0px 0px 0px;
    font-weight: 900;
}

/*
    selectable city
*/
.cityButton {
    height: 2.5em;
    width: 100%;
    border-radius: 0px;
    border-bottom: 1px solid #dee2e6;
    background-color: #9575cd;
    border-color: #9575cd;
    font-weight: 900;
}

/*
    loading cities display
*/
.citySearching {
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d47a1;
    color: #ffffff;
    font-weight: 900;
}

/*
    city not found display
*/
.cityNotFound {
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b71c1c;
    color: #ffffff;
    font-weight: 900;
}