.weatherinfo {
  border-left: 1px solid #6c757d;
  border-right: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  height: 2.5em;
  background-color: #f8f9fa;
  color: #373737;
}

.weatherinfo > div {
  padding-left: 1em;
}

.weather-info {
  height: 3em;
}